/*
 * @file
 * Provides very specific styling for consultations / content types.
 */
@import '../../init';

.page-node-type-consultation {
  .content {
    .summary {
      background: #f3f3f3;
      margin: 3rem 0 4rem;

      .consultation-dates {
        padding: 1.2rem;
        font-size: 2.1rem;
      }

      .field-summary {
        padding: 1.2rem;

        h2 {
          margin: 0;
        }

        p {
          margin: .5rem 0 0;
        }
      }
    }

    .respond {
      .content-field__value {
        > div {
          padding-bottom: 2.7rem;
        }

        address {
          margin: .5rem 0 0;
        }
      }
    }
  }

  .content-field--label-inline{
    .content-field__label {
      flex: 30% 1 0;
    }
  }
}
