// Font faces, stacks and sizes.
//
// Font styling and line heights are controlled by the several variables that
// used by mixins like adjust-font-size-to().
// These variable and mixins are documented in [Compass](http://compass-style.org/reference/compass/typography/vertical_rhythm/).
// We also use a custom mixin responsive-typo-map() to make responsive typography much more manageable using sass maps.
// We import Google fonts in the head of the document and set the base family to be
// 'Open Sans', sans-serif
//
// Style guide: init.variables.typography
// The default font family.
$base-font-family: 'Roboto', 'Open Sans', sans-serif;
$font-monospace:   'Courier New', 'DejaVu Sans Mono', monospace, sans-serif;;

// Responsive typography with vertical rhythm.
// Sass maps that map out commonly used font sizes, with line-heights and margins that maintain vertical rhythm.
//
// @see @mixin responsive-typo-map in src/scss/init/responsive-typo/_resp-typo.scss
// @see https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/
//
// To maintain vertical rhythm, the line-heights and margins when added
// together should be some multiple or factor of the base font-size or
// line-height.
//
// Where responsive typo maps do not specify margins, these are normally
// used for elements with custom margins or for inline elements.

$body-text: (
  null: (16px, 1.5),
  lg: 18px,
  xxl: 20px,
);

$small-text: (
  null: (1.5rem, 2rem),
  lg: (1.6rem, 2.1rem),
  xxl: (1.7rem, 2.5rem),
);

$breadcrumb-text: (
  null: (14px, 2.4rem, 1.2rem 0 2rem 2px),
  sm: (null, null, 1.6rem 0 2.4rem),
  lg: (null, 2.7rem, 2.1rem 0 2.7rem),
  xxl: (1.7rem, 3rem, 2rem 0 3rem)
);

$normal-text: (
  null: (16px, 1.5, 1em 0 1.5em),
  md: (null, null, 1em 0 1.5em),
  lg: 18px,
  xxl: 20px,
);

$large-text: (
  null: (18px, 2.4rem),
  md: (20px, 2.8rem),
  lg: (22px, 3.3rem),
  xxl: (23px, 3.5rem)
);

$xl-text: (
  null: (20px, 28px),
  md: (22px, 32px),
  lg: (24px, 36px),
  xxl: (27px, 40px)
);

$xxl-text: (
  null: (24px, 36px),
  lg: (27px, 39px),
  xxl: (30px, 45px)
);

$h1-text: (
  null: (28px, 3.6rem, 2.4rem 0 1.6rem),
  lg: (30px, 3.9rem, 3.6rem 0 1.8rem),
  xxl: (30px, 4rem, 5rem 0 2rem)
);

$h2-text: (
  null: (24px, 3.2rem, 3.2rem 0 1.6rem),
  lg: (26px, 3.6rem, 3.6rem 0 1.8rem),
  xxl: (28px, 4rem, 4rem 0 2rem)
);

$h3-text: (
  null: (21px, 2.4rem, 3.2rem 0 1.2rem),
  lg: (22px, 3rem, 3.6rem 0 1.8rem),
  xxl: (24px, 3rem, 4rem 0 2rem)
);

$h4-text: (
  null: (18px, 2.4rem, 3.2rem 0 1.2rem),
  lg: (20px, 2.7rem, 3.6rem 0 1.8rem),
  xxl: (22px, 3rem, 4rem 0 2rem)
);

$h5-text: (
  null: (16px, 2.4rem, 3.2rem 0 1.2rem),
  lg: (18px, 2.7rem, 3.6rem 0 1.8rem),
  xxl: (20px, 3rem, 4rem 0 2rem)
);

$h6-text: (
  null: (16px, 2.4rem, 3.2rem 0 1.2rem),
  lg: (18px, 2.7rem, 3.6rem 0 1.8rem),
  xxl: (20px, 3rem, 4rem 0 2rem)
);

$card-title: (
  null: (24px, 1.364),
);

$btn-small: (
  null: (1.4rem, 2.2rem),
  lg: (1.6rem, 2.4rem),
  xxl: (1.7rem, 2.5rem)
);

$btn-default: (
  null: (1.6rem, 2.4rem),
  lg: (1.8rem, 2.7rem),
  xxl: (2rem, 3rem)
);

$btn-medium: (
  null: (1.8rem, 2.4rem),
  lg: (2.1rem, 3rem),
  xxl: (2.2rem, 3.5rem)
);

$btn-large: (
  null: (2.1rem, 3.2rem),
  lg: (2.4rem, 3.6rem),
  xxl: (2.5rem, 4rem)
);

$form-legend: (
  null: (21px, 2.8rem, 0),
  lg: (24px, 3.3rem, 0),
  xxl: (26px, 3.5rem, 0)
);

$form-legend-plain: (
  null: (1.6rem, 1.5, 0),
  lg: (1.8rem, 1.5, 0),
  xxl: (2rem, 1.5, 0),
);

$landing-page-summary: (
  null: (20px, 1.4, 2.4rem 0 3.2rem),
  md: (22px, 1.4546),
  lg: (26px, 1.3846, 3rem 0 3.6rem),
  xxl: (30px, 1.3, 4.5rem 0 4.5rem)
);
