/*
 * @file
 * Provides very specific styling for entities / content types.
 */
@import '../init';

/*
 * Application content type
 * the wrapper around the application link field 'button' needs to inherit some spacing around the element to keep the
 * pages vertical rhythm.
 */
.launch-service {
  margin: 1.2rem 0;
}

/*
 * GP Practice content type
 * - the wrapper around the application link field 'button' needs to have the spacing around the element tweaked to keep
 * the pages vertical rhythm.
 * - adjust the some attrs on the list of practice members
 */
.page-node-type-gp-practice {
  .launch-service {
    display: inline-block;
    margin: 2.7rem 1.2rem 0 0;
  }

  .call-to-action {
    @include adjust-font-size-to(18px);
  }
}

.list--gp-practice-members {
  .list-item {
    color: #666;
    margin: 0;

    &::after {
      content: ',';
    }

    &:last-child::after {
      content: '';
    }
  }
}

/*
 * Health condition content type
 * - adjust the text for the last / next review information
 */
.review-info {
  @include adjust-font-size-to(16px, 4);
  margin: 0;
}

.page-node-type-health-condition {
  p.meta {
    @include adjust-font-size-to(15px, 4);
    letter-spacing: -.25px;
    margin: 0;
    padding-bottom: .9rem;
  }
}

/*
 * Publication content type
 */

.page-node-type-publication,
.page-node-type-news,
.page-node-type-consultation {
  .published-date {
    @include responsive-typo-map($small-text);
    margin: 1.8rem 0 .7rem; // Tightens up to the h1.
    @include breakpoint($tab) {
      margin: 2.1rem 0 .7rem;
    };
    @include breakpoint($desk-plus) {
      margin: 2.5rem 0 1rem;
    };
  }

  .file-link {
    margin-bottom: 1.5em;
  }
}

.page-node-type-publication .last-updated {
  @include responsive-typo-map($small-text);
  margin: .7rem 0;
}

.path-taxonomy {
  .social-sharing {
    margin: 3em 0;
  }
}

.page-node-type-publication,
.page-node-type-embargoed-publication,
.page-node-type-consultation,
.page-node-type-subtopic {
  .narrow-title {
    @include breakpoint($phab) {
      width: 83.33%;
    }

    @include breakpoint($lap) {
      width: 75%;
    }
  }
}

.path-publications h1,
.path-consultations h1,
.path-news h1 {
  @include breakpoint($phab) {
    width: 83.33%;
  }

  @include breakpoint($lap) {
    width: 75%;
  }
}

.page-node-type-topic {

  .topic-header {
    box-shadow: 0 1.5px 0 0 var(--brand-primary-color);
    padding-bottom: 2em;

    &:last-child {
      box-shadow: none;
      padding-bottom: 1em;
    }

    &:has(.field-photo) {
      padding-bottom: 1em;

      // Larger screens: photo to right of large text summary.
      @include breakpoint($tab) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 1.5rem;

        .page-summary {
          grid-column: 1 / span 6;
        }

        .field-photo {
          grid-column: 8 / span 5;
        }
      }

      @include breakpoint($desk) {

        .page-summary {
          grid-column: 1 / span 7;
        }

        .field-photo {
          grid-column: 9 / span 4;
        }
      }

      .page-summary {
        p {
          @include responsive-typo-map($xl-text);

          @include breakpoint($tab) {
            margin-top: .5em;
          }
        }
      }

      .media-image {
        margin: 0;

        img {
          max-height: 200px;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }

  .page-summary:only-child,
  .page-summary p:last-child {
    margin-bottom: 0;
  }

  .article-content {
    margin-top: 2.5em;

    // clearfix.
    &::after {
      content: '';
      display: block;
      width: 100%;
      clear: both;
    }

    .field-photo .media-image {

      @include breakpoint($tab) {
        float: right;
        max-width: 300px;
        margin: 0 0 1.5em 1.5em;
      }
    }
  }

  .subtopics {
    width: 100%;
    clear: both;
    margin-top: .5em;

    .card__title a {
      color: $brand-secondary;

      &:focus {
        color: #fff;
      }
    }
  }

  .article-content + .subtopics {
    box-shadow: 0 -1.5px 0 0 var(--brand-primary-color);
    margin-top: 2.5em;
    padding-top: .5em;
  }

  .topic-header:has(.page-summary:only-child) {
    + .subtopics,
    + .section-related {
      margin-top: 1.5em;

      .subtopics__title {
        @include visually-hidden();
      }
    }
  }

  .card-deck--topics {
    padding-top: .5em;
  }
}

.site-book {
  margin-top: 0;
}

.site-topics:has(+ .site-book) {
  margin-bottom: 0;
}
