/*
 * @file
 * Provides very specific styling for search index pages.
 */
@import '../init';

.page-search {
  h1 em.placeholder {
    font-style: normal;
    font-size: smaller;
  }
}

.search-intro {

  @include breakpoint($tab) {
    width: 80%;
    margin: 3rem auto;
  }
}

.search-results {

  header {
    margin: 1em 0 0;

    @include breakpoint($tab) {
      margin: 0;
    }

    .view--rss-link {
      margin: 0 0 1.5em;

      @include breakpoint($tab) {
        margin: 2em 0 0;
      }

      + .view--count {
        margin-top: 0;
      }
    }
  }

  h2:first-of-type,
  .view--count {
    margin: 0 0 1.2rem;

    .subtitle,
    + .subtitle {
      @include responsive-typo-map($small-text);
      color: $ash-grey;
      display: block;

      > * {
        font-size: inherit;
        line-height: inherit;
      }
    }

    // When subtitle follows view count.
    + .subtitle {
      margin: -.6rem 0 1.2rem;
    }

    // When subtitle is child of view count.
    > .subtitle {
      margin: .6rem 0 0;
    }

    + .view-sort-options {
      margin: -.5em 0 1.2rem;
    }
  }

  .view-sort-options {
    display: block;

    * {
      @include responsive-typo-map($small-text);
    }

    .label-inline {
      color: $ash-grey;

      &:not(:last-child)::after {
        content: ' | ';
      }
    }
  }

  .facet-summary-item--facet {
    line-height: 2.5em;
  }

  &-list {
    margin: 0;
  }

  &--title {
    margin-top: 0;
  }

  h3 {
    @include responsive-typo-map($large-text);
    margin: 0 0 .6rem;
  }

  .meta {
    margin: .9rem 0;

    .meta-list-item {
      margin-left: 1rem;
    }
  }

  .extract {
    @include adjust-font-size-to(16px, 3.5);
    margin: 1.5rem 0 1.2rem;
  }
}

// Contacts index page
//
// The contacts search has a few rules that are only applicable to the search page(s) that contacts lists of contacts.
// These rules are in essence to enhance aesthetics to the original design.
//
// Weight: -2
//
// Style guide: theme.searches.contacts
#contacts-az--title {
  margin: .5em 0;
}

.search-form--contacts {
  margin-bottom: 0; // On contact search results page, no bottom margin under search box.
}

// Overrides for Origins Search facet styling.
a.facet--btn {

  line-height: 4.4rem;
  min-height: 4.4rem;
  border: 0 !important;

  @include breakpoint($tab, $no-query: true) {
    line-height: 4.5rem;
    min-height: 4.5rem;
  }

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    @include high-vis-focus();
  }

  .ico-arrow-down {
    margin: 1.2rem;
  }
}

