/*
 * @file
 * Provides the styling for the topics/subtopics list on a node page.
 */
@import '../../init';

// Site topics list near the page title.
//
// A list of links showing topics/subtopics the current page is related to.
//
// Markup: topics-subtopics-list.twig
//
// Style guide: components.navigation.site-topics

.site-topics,
%site-topics {
  margin: .8rem 0 1.2rem;
  padding: 0 0 .8rem;
  @include adjust-font-size-to(16px, 4);
  display: flex;
  column-gap: 10px;

  @include breakpoint($tab) {
    @include adjust-font-size-to(17px, 4.5);
    margin: .9rem 0 1.2rem;
    padding: 0 0 .9rem;
  }

  @include breakpoint($desk) {
    @include adjust-font-size-to(18px, 5);
    margin: 1rem 0 1.5rem;
    padding: 0 0 1rem;
  }

  @at-root h1 + & {
    margin-top: -.8rem;

    @include breakpoint($tab) {
      margin-top: -1.2rem;
    }

    @include breakpoint($desk) {
      margin-top: -1.5rem;
    }
  }

  @media print {
    display: none;
  }

  &--label {
    color: $headings;
  }

  &--list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  &--item {
    font-size: inherit;
    line-height: inherit;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    @include link-state-style($link-body-no-visited);
  }
}

.diffmod.site-topics--list {
  margin: .6rem 0 1.2rem;
  padding: 0 0 .7rem 1rem;
}
